<mat-toolbar color="primary" class="navbar">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    *ngIf="isHandset$ | async">
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>
  <div class="logo">
    <span><a routerLink="/">Barangay Bagongpook Online Portal</a></span>
  </div>
  <div class="nav-menu">
    <ul>
      <li><a routerLink="/residency" routerLinkActive="active" ariaCurrentWhenActive="page">Residency</a></li>
      <li>Indigency</li>
      <li>Clearance</li>
      <li>Login</li>
    </ul>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>