<div class="info">
    <h1>Latest News: Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat porro magni distinctio tenetur deleniti, unde perferendis, quidem dolorum exercitationem magnam labore quibusdam sapiente ullam. Beatae inventore nulla hic qui voluptatibus!</h1>
</div>
<mat-divider></mat-divider>
<div class="application-summary-card-container">
    <h1>Services</h1>
    <div class="card-list">
        <mat-card class="services-clearance-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <mat-card-title>Certificate of Residency</mat-card-title>
                <mat-card-subtitle>Apply for Certificate of Residency blah blah...</mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Learn more...</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="services-clearance-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <mat-card-title>Certificate of Indigency</mat-card-title>
                <mat-card-subtitle>Apply for Certificate of Indigency blah blah...</mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Learn more...</button>
            </mat-card-actions>
        </mat-card>
        <mat-card class="services-clearance-card">
            <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <mat-card-title>Barangay Clearance</mat-card-title>
                <mat-card-subtitle>Apply Barangay Clearance blah blah...</mat-card-subtitle>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button>Learn more...</button>
            </mat-card-actions>
        </mat-card>
    </div>
</div>