.card-list {
    width: 100%;
    text-align: center;
}

.services-clearance-card {
    margin: 15px 15px;
    max-width: 400px;
    display: inline-block;
}

.services-clearance-card img {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    max-width: 400px;
    background-size: cover;
}